body{
    margin:0px;
   background-color: bisque;
   display: flex;
   justify-content: center;
   align-items: center;
}
#todo-app{
    
    width: 40%;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    background-color: white;
   /* justify-content: center;*/
   

}
.whole-form-part{
	
	width: 100%;
}
#todo-form{
	width: 100%;
    flex-direction: column;
    /*background-color: white;*/
    justify-content: center;
    /*background-color: cyan;	*/
}
#heading{
    height: 12vh;
   display: flex;
   justify-content: center;
   font-size: 2.5rem;
   font-family: sans-serif;
   color:grey;

     /* background-color: cadetblue; */
}
.description{
	height:10vh;
	width: 100%;
	/*background-color: yellow;*/
	border-top:  solid 1px lightgray;
	border-bottom: solid 1px lightgrey;


}

#todo-description{
margin-left: 0.8rem;
/* padding-left : 0.5rem ; */
padding-bottom: 0.5rem;
border: none;
outline: none;
}

.date-category{
height:10vh;
width: 100%;
display: flex;
flex-flow: row;

/*justify-content: space-between;*/
/*border-top:  solid 1px grey;*/
	border-bottom: solid 1px lightgray;
}
.category{
	/*background-color: cyan;*/
	
	width: 50%;
	height: 100%;
  border-right: solid 1px lightgray;
  display: flex;
flex-flow: column;
justify-content: center;	
}
#todo-category{
	border:none;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: .2rem;
	outline: none;
}
.date{
/*background-color: yellow;*/
	
	width: 50%;
	height: 100%;
	display: flex;
flex-flow: column;
justify-content: center;
}
#todo-date{
	outline: none;
	border:none;
	font-size: 1rem;
}
#submit-div{
	display: flex;
	justify-content: center;
	align-items: center;
	height:11vh;
	width:100%;
	/* border-bottom:solid 1px grey;  */
	color: white;
}

.submit-todo{
    margin-top: 1rem;
	height:60%;
    width: 25%;
    background-color: #444444;

}
.submit-innerdiv{
	display: flex;
	flex-flow: row;
	align-items: center;
}

#list{
  width:100%;  
  
}
ul{
    list-style: none;
    padding-left: 0px;
    
}
.individual-list{
    margin-left: .8rem;
    width:95%;
    height:13vh;
    display: flex;
    flex-direction: row;
    border-top: solid 1px lightgrey;
    /* background-color: cornflowerblue; */
}
.details{
    height: 100%;
    width:80%;
    display: flex;
    flex-direction: row;
    
}

.todo-icon{
    width:10%;
    padding-left: .4rem;
}
.description-and-date{
    width:70%;height:100%;
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
}
.desc-div{
    width: 100%;
    color: grey;   
    /* background-color: darkgoldenrod; */
    font-size: 1.1rem;
    font-family: serif;
     padding-top:1rem;
     font-weight: 500;
     /* align-items: center;    */
}
.date-div{
    width: 100%;
    padding-top: .3rem;
    /* background-color: darkgreen; */
    display: flex;
    flex-direction: row;
    color: grey;
}
.category-div{
width:20%;
height: 100%;

/* background-color: darkmagenta; */
}
.category-type{
  height: 45%;
  width:85%;
  font-size: .9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellowgreen;
margin-top: 1.2rem;
margin-left:.3rem;
color:white;
font-family: serif;
}

.delete-todo{
 width:20%;
 height: 100%;
 /* background-color: #444444;    */
}
.anchor{
    height:50%;
    width:50%;
    
    text-decoration: none;
}
.delete-div{
    margin-left: .5rem;
    margin-top: 1.2rem;
    font-size: .8rem;
    height: 45%;
    width: 70%;
    font-family: serif;
    color:white;
    background-color:rgb(224, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}