body{
    margin:0px;
   background-color: rgb(247, 232, 214);
   display: flex;
   justify-content: center;
   align-items: center;
}
#todo-app{
    
    width: 40%;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    background-color: white;
  
   

}
.whole-form-part{
	
	width: 100%;
}
#todo-form{
	width: 100%;
    flex-direction: column;
    
    justify-content: center;
    
}
#heading{
    height: 12vh;
   display: flex;
   justify-content: center;
   font-size: 2.5rem;
   font-family: sans-serif;
   color:grey;

     
}
.description{
	height:10vh;
    width: 100%;
    
 	border-top:  solid 1px lightgray;
	border-bottom: solid 1px lightgrey;


}

#todo-description{
margin-left: 0.8rem;

padding-bottom: 0.5rem;
border: none;
outline: none;
}

.date-category{
height:10vh;
width: 100%;
display: flex;
flex-flow: row;


border-bottom: solid 1px lightgray;
}
.category{
	
	
	width: 50%;
	height: 100%;
  border-right: solid 1px lightgray;
  display: flex;
flex-flow: column;
justify-content: center;	
}
#todo-category{
	border:none;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: .2rem;
	outline: none;
}


#todo-category option{
	background-color: #ddd;
    font-size: 0.9rem;
    padding: .5rem;
    border:none;
    outline:none;
    
}
#todo-category option:hover{
    border:none;
    outline:none;
    background-color: yellowgreen;
}

.date{

	
	width: 50%;
	height: 100%;
	display: flex;
flex-flow: column;
justify-content: center;
}
#todo-date{
    width: 85%;
	outline: none;
	border:none;
    font-size: 1rem;
    margin-left: .5rem;
	margin-right: .5rem;
	padding: .2rem;
}
#submit-div{
	display: flex;
	justify-content: center;
	align-items: center;
	height:11vh;
	width:100%;
	
	color: white;
}

.submit-todo{
    margin-top: 1rem;
	height:65%;
    width: 22%;
    background-color: #444444;

}
.submit-innerdiv{
	display: flex;
	flex-flow: row;
	align-items: center;
}

#list{
  width:100%;  
  
}
ul{
    list-style: none;
    padding-left: 0px;
    
}
.individual-list{
    margin-left: .8rem;
    width:95%;
    height:13vh;
    display: flex;
    flex-direction: row;
    border-top: solid 1px lightgrey;
    
}
.individual-list:hover{
    background-color: rgb(248, 248, 248);
}
.details{
    height: 100%;
    width:80%;
    display: flex;
    flex-direction: row;
    
}

.todo-icon{
    width:10%;
    padding-left: .4rem;
}
.description-and-date{
    width:70%;height:100%;
    
    display: flex;
    flex-direction: column;
}
.desc-div{
    width: 100%;
    color: grey;   
   
    font-size: 1.1rem;
    font-family: serif;
     padding-top:1rem;
     font-weight: 500;
     
}
.date-div{
    width: 100%;
    padding-top: .3rem;
    
    display: flex;
    flex-direction: row;
    color: grey;
}
.category-div{
width:20%;
height: 100%;


}
.category-type{
  height: 45%;
  width:85%;
  font-size: .9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellowgreen;
  
margin-top: 1.2rem;
margin-left:.3rem;
color:white;
font-family: serif;
}

.delete-todo{
 width:20%;
 height: 100%;
 
}
.anchor{
    height:50%;
    width:50%;
    
    text-decoration: none;
}
.delete-div{
    margin-left: .5rem;
    margin-top: 1.2rem;
    font-size: .8rem;
    height: 45%;
    width: 70%;
    font-family: serif;
    color:white;
    background-color:rgb(224, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}