body{
    margin:0px;
   background-color: bisque;
   display: flex;
   justify-content: center;
   align-items: center;
}
#todo-app{
    
    width: 40%;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    background-color: white;
   /* justify-content: center;*/
   

}
.whole-form-part{
	
	width: 100%;
}
#todo-form{
	width: 100%;
    flex-direction: column;
    /*background-color: white;*/
    justify-content: center;
    /*background-color: cyan;	*/
}
#heading{
    height: 15vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: fantasy;
   background-color: cadetblue;
}
.description{
	height:10vh;
	width: 100%;
	/*background-color: yellow;*/
	border-top:  solid 1px grey;
	border-bottom: solid 1px grey;


}

#todo-description{
margin-left: 0.8rem;
/* padding-left : 0.5rem ; */
padding-bottom: 0.5rem;
border: none;
outline: none;
}

.date-category{
height:12vh;
width: 100%;
display: flex;
flex-flow: row;

/*justify-content: space-between;*/
/*border-top:  solid 1px grey;*/
	border-bottom: solid 1px grey;
}
.category{
	/*background-color: cyan;*/
	
	width: 50%;
	height: 100%;
  border-right: solid 1px grey;
  display: flex;
flex-flow: column;
justify-content: center;	
}
#todo-category{
	border:none;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: .2rem;
	outline: none;
}
.date{
/*background-color: yellow;*/
	
	width: 50%;
	height: 100%;
	display: flex;
flex-flow: column;
justify-content: center;
}
#todo-date{
	outline: none;
	border:none;
	font-size: 1rem;
}
#submit-div{
	display: flex;
	justify-content: center;
	align-items: center;
	height:15vh;
	width:100%;
	/* border-bottom:solid 1px grey;  */
	color: white;
}

.submit-todo{
	height:50%;
    width: 25%;
    background-color: #444444;

}
.submit-innerdiv{
	display: flex;
	flex-flow: row;
	align-items: center;
}


